/* CSS declarations go here */
.loginbuttons {
	padding-top: 15px;
	text-decoration: none;
}

body {
    padding-top: 70px;
}

.btnsrps {
	text-align: center;
}

.btnrps {
	max-width: 25%;
	min-height: 100px;	
}

.btnrps img {
	max-width: 75%;
}