/* CSS declarations go here */

body {
    padding-top: 70px;
}

.btnsrps {
	text-align: center;
}

.btnrps {
	max-width: 25%;
	min-height: 100px;	
}

.btnrps img {
	max-width: 75%;
}

.logo {
	display: inline-block;
	position: relative;
    width: 200px;
	height: 35px;
	top: -7.5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(/images/logo.png);
}

.user-count-mini {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}